# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
env/
.env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.tableia.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
google_credentials.json

# Cobertura de los tests
.coverage
htmlcov/
